.header {
  background: #0d1821;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.6rem;
  -webkit-box-shadow: 9px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 20px 0px rgba(0, 0, 0, 0.75);

  a,
  button {
    background: #0d1821;
    text-decoration: none;
    color: #f0f4ef;
    font-weight: 700;
    border: 2px solid #f0f4ef;
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
    text-align: center;

    &:hover {
      background: #344966;
    }
  }

  .logo {
    font-size: 2rem;
    color: #f0f4ef;
    font-weight: 700;
    border: none;
    &:hover {
      background: none;
    }
  }
}
