.post-list-item {
    padding: 1rem 1rem 5rem 1rem;
    background: #D9D9D9;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 9px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 20px 0px rgba(0,0,0,0.75);


    h1 {
        color: #0D1821;
        padding: 0 1rem 0 0;

        text-transform: uppercase;
        width: 30%;
        font-size: 3rem;
        margin: 1rem 0;
        border-bottom: 15px solid #0D1821;

    }

    p{
        font-size: 1.8rem;
        margin: 3rem 0;
    }

    a {
        color: black;
        text-decoration: none;
        display: inline-block;
        font-size: 1.4rem;
        border: 1px solid #0D1821;
        background: #0D1821;
        color: #D9D9D9;
        padding: 1rem;
        -webkit-box-shadow: 9px 10px 20px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 20px -8px rgba(0,0,0,0.75);
        box-shadow: 9px 10px 20px -8px rgba(0,0,0,0.75);
        margin-right: 1rem;
        text-align: center;
        width: 140px;

        &:hover {
            background: #D9D9D9;
            color: #0D1821;
            border: 1px solid #0D1821;
        }

    }

}