.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form-title {
    font-size: 1.6rem;
    margin: 1rem;
    padding: 1rem;
    width: 60%;
    text-align: center;
}

.edit-form-body {
    width: 60%;
    height: 30rem;
}